app/jade/views/app.jade
#wrapper

   nav(class='navbar navbar-default navbar-static-top', role='navigation', style='margin-bottom: 0')
      div(data-ng-include="'templates/views/partials/top-navbar.html'")
      div(data-ng-include="'templates/views/partials/sidebar.html'")

   #page-wrapper
      toaster-container
      .row
         .col-lg-12
            h1.page-header {{ currentPageTitle }}
      div(data-ui-view='')

templates/views/app.html
<div id="wrapper">
   <nav role="navigation" style="margin-bottom: 0" class="navbar navbar-default navbar-static-top">
      <div data-ng-include="'templates/views/partials/top-navbar.html'"></div>
      <div data-ng-include="'templates/views/partials/sidebar.html'"></div>
   </nav>
   <div id="page-wrapper">
      <toaster-container></toaster-container>
      <div class="row">
         <div class="col-lg-12">
            <h1 class="page-header">{{ currentPageTitle }}</h1>
         </div>
      </div>
      <div data-ui-view=""></div>
   </div>
</div>
