app/jade/views/classifiers.jade
.row
    .col-xs-12
        div(class='panel panel-default')
            .panel-heading
                | {{ 'classifiers.classifiers' | translate }}
            .panel-body
                .table-responsive
                    table(class="table table-striped table-bordered")
                        thead
                            tr
                                th Klasyfikator
                                th Trafność gospodarza (%)
                                th Trafność remisu (%)
                                th Trafność gościa (%)
                                th Średnia trafność (%)
                        tbody
                            tr(data-ng-repeat="analyse in analyses")
                                td {{ analyse.name }}
                                td {{ (analyse.home_accuracy | number : 2) * 100 }}
                                td {{ (analyse.draw_accuracy | number : 2) * 100 }}
                                td {{ (analyse.away_accuracy | number : 2) * 100 }}
                                td {{ (analyse.mean_accuracy | number : 2) * 100 }}

                .form-group
                    label Wybierz klasyfikator
                    select(class='form-control' data-ng-model='selectedClassifier' data-ng-options='analyse.name for analyse in analyses')

templates/views/classifiers.html
<div class="row">
   <div class="col-xs-12">
      <div class="panel panel-default">
         <div class="panel-heading">{{ 'classifiers.classifiers' | translate }}</div>
         <div class="panel-body">
            <div class="table-responsive">
               <table class="table table-striped table-bordered">
                  <thead>
                     <tr>
                        <th>Klasyfikator</th>
                        <th>Trafność gospodarza (%)</th>
                        <th>Trafność remisu (%)</th>
                        <th>Trafność gościa (%)</th>
                        <th>Średnia trafność (%)</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr data-ng-repeat="analyse in analyses">
                        <td>{{ analyse.name }}</td>
                        <td>{{ (analyse.home_accuracy | number : 2) * 100 }}</td>
                        <td>{{ (analyse.draw_accuracy | number : 2) * 100 }}</td>
                        <td>{{ (analyse.away_accuracy | number : 2) * 100 }}</td>
                        <td>{{ (analyse.mean_accuracy | number : 2) * 100 }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="form-group">
               <label>Wybierz klasyfikator</label>
               <select data-ng-model="selectedClassifier" data-ng-options="analyse.name for analyse in analyses" class="form-control"></select>
            </div>
         </div>
      </div>
   </div>
</div>
