app/jade/views/notification.jade
.row
    .col-lg-12
        div(class='panel panel-default')
         .panel-body
             .row()
                .col-lg-10 {{ notification.description }}
                .col-lg-2 {{ notification.timestamp | date: 'MMM d, H:mm'  }}

templates/views/notification.html
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-10">{{ notification.description }}</div>
               <div class="col-lg-2">{{ notification.timestamp | date: 'MMM d, H:mm' }}</div>
            </div>
         </div>
      </div>
   </div>
</div>
