templates/views/notifications.html
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-body">
            <div data-ng-repeat="(key, value) in notifications" class="row">
               <div class="col-lg-12">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th colspan="2">{{ key }}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="notification in value">
                              <td class="col-xs-11">{{ notification.description }}</td>
                              <td class="col-xs-1">{{ notification.timestamp | date : 'H:mm' }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

app/jade/views/notifications.jade
.row
    .col-lg-12
        div(class='panel panel-default')
         .panel-body
             .row(data-ng-repeat='(key, value) in notifications')
                .col-lg-12
                    .table-responsive
                        table(class='table')
                            thead
                                tr
                                    th(colspan="2") {{ key }}
                            tbody
                                tr(data-ng-repeat='notification in value')
                                    td(class='col-xs-11') {{ notification.description }}
                                    td(class='col-xs-1') {{ notification.timestamp | date : 'H:mm' }}
