templates/views/player.html
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-info">
         <div class="panel-heading">{{ player.full_name }}</div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-6">
                  <p><b>{{ 'user.name' | translate }}:</b> {{ player.full_name }}</p>
                  <p><b>{{ 'players.current_team' | translate }}:&nbsp;</b><a data-ui-sref="app.team({id: player.current_team.id})">{{ player.current_team.name }}</a>
                  </p>
               </div>
               <div class="col-lg-6">
                  <p><b>{{ 'players.nationality' | translate }}:</b> {{ player.nationality.name }}</p>
                  <p><b>{{ 'players.age' | translate }}:</b> {{ player.age }}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">{{ 'competitions.current_competitions' | translate }}</div>
         <div class="panel-body">
            <tabset type="pills">
               <tab heading="{{ &quot;matches.overall&quot; | translate }}">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ "competitions.competitions" | translate }}</th>
                              <th>{{ "players.apps" | translate }}</th>
                              <th>{{ "matches.goals" | translate }}</th>
                              <th>{{ 'common.rating' | translate }}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="competition in currentCompetitionsStatistics">
                              <td>{{ competition.league.name }} {{ competition.season.name }}</td>
                              <td>{{ competition.played | number }}</td>
                              <td>{{ competition.goals.goals__sum | number }}</td>
                              <td>{{ competition.rating.rating__avg | number : 2 }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </tab>
               <tab heading="{{ &quot;matches.home&quot; | translate }}">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ "competitions.competitions" | translate }}</th>
                              <th>{{ "players.apps" | translate }}</th>
                              <th>{{ "matches.goals" | translate }}</th>
                              <th>{{ 'common.rating' | translate }}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="competition in currentCompetitionsStatistics">
                              <td>{{ competition.league.name }} {{ competition.season.name }}</td>
                              <td>{{ competition.home_played | number }}</td>
                              <td>{{ competition.home_goals.goals__sum | number }}</td>
                              <td>{{ competition.home_rating.rating__avg | number : 2 }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </tab>
               <tab heading="{{ &quot;matches.away&quot; | translate }}">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ "competitions.competitions" | translate }}</th>
                              <th>{{ "players.apps" | translate }}</th>
                              <th>{{ "matches.goals" | translate }}</th>
                              <th>{{ 'common.rating' | translate }}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="competition in currentCompetitionsStatistics">
                              <td>{{ competition.league.name }} {{ competition.season.name }}</td>
                              <td>{{ competition.away_played | number }}</td>
                              <td>{{ competition.away_goals.goals__sum | number }}</td>
                              <td>{{ competition.away_rating.rating__avg | number : 2 }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </tab>
            </tabset>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">{{ 'matches.last_matches'| translate }}</div>
         <div class="panel-body">
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th>{{ 'competitions.competitions' | translate }}</th>
                        <th>{{ 'common.date' | translate }}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>{{ 'common.rating' | translate }}</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr data-ng-repeat="match in lastMatches">
                        <td>{{ match.match.league_season.league.name }} {{ match.match.league_season.season.name }}</td>
                        <td>{{ match.match.datetime | date : 'dd-MM-yyyy' }}</td>
                        <td class="text-right"><a data-ui-sref="app.team({id: match.match.home_team.id})">{{ match.match.home_team.name }}</a>
                        </td>
                        <td class="text-center"><a data-ui-sref="app.match({id: match.match.id})">{{ match.match.home_score }}:{{ match.match.away_score }}</a>
                        </td>
                        <td class="text-left"><a data-ui-sref="app.team({id: match.match.away_team.id})">{{ match.match.away_team.name }}</a>
                        </td>
                        <td>{{ match.rating | number : 2 }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">{{ 'matches.last_matches' | translate }} - {{ 'common.rating' | translate }}</div>
         <div class="panel-body">
            <canvas style="padding-right: 25px" tc-chartjs-line="tc-chartjs-line" chart-type="line" chart-options="playerFormChart.options" chart-data="playerFormChart.data"></canvas>
         </div>
      </div>
   </div>
</div>

app/jade/views/player.jade
.row
   .col-lg-12
      div(class='panel panel-info')
         .panel-heading
            | {{ player.full_name }}
         .panel-body
            .row
               .col-lg-6
                  p
                     b {{ 'user.name' | translate }}:
                     |  {{ player.full_name }}
                  p
                     b {{ 'players.current_team' | translate }}:&nbsp;
                     a(data-ui-sref="app.team({id: player.current_team.id})") {{ player.current_team.name }}
               .col-lg-6
                  p

                     b {{ 'players.nationality' | translate }}:
                     |  {{ player.nationality.name }}
                  p
                     b {{ 'players.age' | translate }}:
                     |  {{ player.age }}

.row
   .col-lg-12
      div(class='panel panel-default')
         .panel-heading
            | {{ 'competitions.current_competitions' | translate }}
         .panel-body
            tabset(type='pills')
               tab(heading='{{ "matches.overall" | translate }}')
                  .table-responsive
                     table(class='table')
                        thead
                           tr
                              th {{ "competitions.competitions" | translate }}
                              th {{ "players.apps" | translate }}
                              th {{ "matches.goals" | translate }}
                              th {{ 'common.rating' | translate }}
                        tbody
                           tr(data-ng-repeat='competition in currentCompetitionsStatistics')
                              td {{ competition.league.name }} {{ competition.season.name }}
                              td {{ competition.played | number }}
                              td {{ competition.goals.goals__sum | number }}
                              td {{ competition.rating.rating__avg | number : 2 }}
               tab(heading='{{ "matches.home" | translate }}')
                  .table-responsive
                     table(class='table')
                        thead
                           tr
                              th {{ "competitions.competitions" | translate }}
                              th {{ "players.apps" | translate }}
                              th {{ "matches.goals" | translate }}
                              th {{ 'common.rating' | translate }}
                        tbody
                           tr(data-ng-repeat='competition in currentCompetitionsStatistics')
                              td {{ competition.league.name }} {{ competition.season.name }}
                              td {{ competition.home_played | number }}
                              td {{ competition.home_goals.goals__sum | number }}
                              td {{ competition.home_rating.rating__avg | number : 2 }}
               tab(heading='{{ "matches.away" | translate }}')
                  .table-responsive
                     table(class='table')
                        thead
                           tr
                              th {{ "competitions.competitions" | translate }}
                              th {{ "players.apps" | translate }}
                              th {{ "matches.goals" | translate }}
                              th {{ 'common.rating' | translate }}
                        tbody
                           tr(data-ng-repeat='competition in currentCompetitionsStatistics')
                              td {{ competition.league.name }} {{ competition.season.name }}
                              td {{ competition.away_played | number }}
                              td {{ competition.away_goals.goals__sum | number }}
                              td {{ competition.away_rating.rating__avg | number : 2 }}
.row
   .col-lg-12
      div(class='panel panel-default')
         .panel-heading
            | {{ 'matches.last_matches'| translate }}
         .panel-body
            .table-responsive
               table(class='table')
                  thead
                     tr
                        th {{ 'competitions.competitions' | translate }}
                        th {{ 'common.date' | translate }}
                        th
                        th
                        th
                        th {{ 'common.rating' | translate }}
                  tbody
                     tr(data-ng-repeat='match in lastMatches')
                        td {{ match.match.league_season.league.name }} {{ match.match.league_season.season.name }}
                        td {{ match.match.datetime | date : 'dd-MM-yyyy' }}
                        td(class='text-right')
                           a(data-ui-sref="app.team({id: match.match.home_team.id})") {{ match.match.home_team.name }}
                        td(class='text-center')
                                 a(data-ui-sref='app.match({id: match.match.id})') {{ match.match.home_score }}:{{ match.match.away_score }}
                        td(class='text-left')
                           a(data-ui-sref="app.team({id: match.match.away_team.id})") {{ match.match.away_team.name }}
                        td {{ match.rating | number : 2 }}
.row
   .col-lg-12
      div(class='panel panel-default')
         .panel-heading
            | {{ 'matches.last_matches' | translate }} - {{ 'common.rating' | translate }}
         .panel-body
            canvas(style='padding-right: 25px' tc-chartjs-line chart-type="line" chart-options='playerFormChart.options' chart-data='playerFormChart.data')
