templates/views/team.html
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-info">
         <div class="panel-heading">{{ team.name }}</div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-6">
                  <p><b>{{ 'user.name' | translate }}:</b> {{ team.name }}</p>
               </div>
               <div class="col-lg-6">
                  <p><b>{{ 'common.country' | translate }}:</b> {{ team.country.name }}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">{{ 'competitions.current_competitions' | translate }}</div>
         <div class="panel-body">
            <div class="table-responsive">
               <tabset type="pills">
                  <tab heading="{{ &quot;matches.overall&quot; | translate }}">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ 'competitions.competitions' | translate }}</th>
                              <th>{{ 'matches.p' | translate }}</th>
                              <th>{{ 'matches.w' | translate }}</th>
                              <th>{{ 'matches.d' | translate }}</th>
                              <th>{{ 'matches.l' | translate }}</th>
                              <th>{{ 'matches.pts' | translate }}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="competition in currentCompetitions">
                              <td>{{ competition.league.name }} {{ competition.season.name }}</td>
                              <td>{{ competition.played || 0 }}</td>
                              <td>{{ competition.won || 0 }}</td>
                              <td>{{ competition.draw || 0 }}</td>
                              <td>{{ competition.lost || 0 }}</td>
                              <td>{{ competition.points || 0 }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </tab>
                  <tab heading="{{ &quot;matches.home&quot; | translate }}">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ 'competitions.competitions' | translate }}</th>
                              <th>{{ 'matches.p' | translate }}</th>
                              <th>{{ 'matches.w' | translate }}</th>
                              <th>{{ 'matches.d' | translate }}</th>
                              <th>{{ 'matches.l' | translate }}</th>
                              <th>{{ 'matches.pts' | translate }}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="competition in currentCompetitions">
                              <td>{{ competition.league.name }} {{ competition.season.name }}</td>
                              <td>{{ competition.home_played || 0 }}</td>
                              <td>{{ competition.home_won || 0 }}</td>
                              <td>{{ competition.home_draw || 0 }}</td>
                              <td>{{ competition.home_lost || 0 }}</td>
                              <td>{{ competition.home_points || 0 }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </tab>
                  <tab heading="{{ &quot;matches.away&quot; | translate }}">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ 'competitions.competitions' | translate }}</th>
                              <th>{{ 'matches.p' | translate }}</th>
                              <th>{{ 'matches.w' | translate }}</th>
                              <th>{{ 'matches.d' | translate }}</th>
                              <th>{{ 'matches.l' | translate }}</th>
                              <th>{{ 'matches.pts' | translate }}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="competition in currentCompetitions">
                              <td>{{ competition.league.name }} {{ competition.season.name }}</td>
                              <td>{{ competition.away_played || 0 }}</td>
                              <td>{{ competition.away_won || 0 }}</td>
                              <td>{{ competition.away_draw || 0 }}</td>
                              <td>{{ competition.away_lost || 0 }}</td>
                              <td>{{ competition.away_points || 0 }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </tab>
               </tabset>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">{{ 'players.players' | translate }}</div>
         <div class="panel-body">
            <tabset type="pills">
               <tab heading="{{ &quot;matches.overall&quot; | translate }}">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ 'common.name' | translate }}</th>
                              <th>{{ 'players.nationality' | translate }}</th>
                              <th>{{ 'players.apps' | translate }}</th>
                              <th>{{ 'matches.goals' | translate }}</th>
                              <th>{{ 'common.rating' | translate }}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="player in players">
                              <td><a data-ui-sref="app.player({id: player.id})">{{ player.full_name }}</a>
                              </td>
                              <td>{{ player.nationality.name }}</td>
                              <td>{{ player.appearances }}</td>
                              <td>{{ player.goals.goals__sum || 0 }}</td>
                              <td>{{ player.rating.rating__avg || 0 | number : 2 }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </tab>
               <tab heading="{{ &quot;matches.home&quot; | translate }}">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ 'common.name' | translate }}</th>
                              <th>{{ 'players.nationality' | translate }}</th>
                              <th>{{ 'players.apps' | translate }}</th>
                              <th>{{ 'matches.goals' | translate }}</th>
                              <th>{{ 'common.rating' | translate }}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="player in players">
                              <td><a data-ui-sref="app.player({id: player.id})">{{ player.full_name }}</a>
                              </td>
                              <td>{{ player.nationality.name }}</td>
                              <td>{{ player.home_appearances }}</td>
                              <td>{{ player.home_goals.goals__sum || 0 }}</td>
                              <td>{{ player.home_rating.rating__avg || 0 | number : 2 }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </tab>
               <tab heading="{{ &quot;matches.away&quot; | translate }}">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ 'common.name' | translate }}</th>
                              <th>{{ 'players.nationality' | translate }}</th>
                              <th>{{ 'players.apps' | translate }}</th>
                              <th>{{ 'matches.goals' | translate }}</th>
                              <th>{{ 'common.rating' | translate }}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="player in players">
                              <td><a data-ui-sref="app.player({id: player.id})">{{ player.full_name }}</a>
                              </td>
                              <td>{{ player.nationality.name }}</td>
                              <td>{{ player.away_appearances }}</td>
                              <td>{{ player.away_goals.goals__sum || 0 }}</td>
                              <td>{{ player.away_rating.rating__avg || 0 | number : 2 }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </tab>
            </tabset>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">{{ 'matches.last_matches' | translate }}</div>
         <div class="panel-body">
            <tabset type="pills">
               <tab heading="{{ &quot;matches.overall&quot; | translate }}">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ 'competitions.competitions' | translate }}</th>
                              <th>{{ 'common.date' | translate }}</th>
                              <th></th>
                              <th></th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="match in last_matches.overall">
                              <td>{{ match.league_season.league.name }} {{ match.league_season.season.name }}</td>
                              <td>{{ match.datetime | date : 'dd-MM-yyyy' }}</td>
                              <td class="text-right"><a data-ui-sref="app.team({id: match.home_team.id})">{{ match.home_team.name }}</a>
                              </td>
                              <td class="text-center"><a data-ui-sref="app.match({id: match.id})">{{ match.home_score }}:{{ match.away_score }}</a>
                              </td>
                              <td class="text-left"><a data-ui-sref="app.team({id: match.away_team.id})">{{ match.away_team.name }}</a>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </tab>
               <tab heading="{{ &quot;matches.home&quot; | translate }}">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ 'competitions.competitions' | translate }}</th>
                              <th>{{ 'common.date' | translate }}</th>
                              <th></th>
                              <th></th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="match in last_matches.home">
                              <td>{{ match.league_season.league.name }} {{ match.league_season.season.name }}</td>
                              <td>{{ match.datetime | date : 'dd-MM-yyyy' }}</td>
                              <td class="text-right"><a data-ui-sref="app.team({id: match.home_team.id})">{{ match.home_team.name }}</a>
                              </td>
                              <td class="text-center"><a data-ui-sref="app.match({id: match.id})">{{ match.home_score }}:{{ match.away_score }}</a>
                              </td>
                              <td class="text-left"><a data-ui-sref="app.team({id: match.away_team.id})">{{ match.away_team.name }}</a>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </tab>
               <tab heading="{{ &quot;matches.away&quot; | translate }}">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ 'competitions.competitions' | translate }}</th>
                              <th>{{ 'common.date' | translate }}</th>
                              <th></th>
                              <th></th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="match in last_matches.away">
                              <td>{{ match.league_season.league.name }} {{ match.league_season.season.name }}</td>
                              <td>{{ match.datetime | date : 'dd-MM-yyyy' }}</td>
                              <td class="text-right"><a data-ui-sref="app.team({id: match.home_team.id})">{{ match.home_team.name }}</a>
                              </td>
                              <td class="text-center"><a data-ui-sref="app.match({id: match.id})">{{ match.home_score }}:{{ match.away_score }}</a>
                              </td>
                              <td class="text-left"><a data-ui-sref="app.team({id: match.away_team.id})">{{ match.away_team.name }}</a>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </tab>
            </tabset>
         </div>
      </div>
   </div>
</div>

app/jade/views/team.jade
.row
   .col-lg-12
      div(class='panel panel-info')
         .panel-heading
            | {{ team.name }}
         .panel-body
            .row
               .col-lg-6
                  p
                     b {{ 'user.name' | translate }}:
                     |  {{ team.name }}
               .col-lg-6
                  p

                     b {{ 'common.country' | translate }}:
                     |  {{ team.country.name }}
.row
   .col-lg-12
      div(class='panel panel-default')
         .panel-heading
            | {{ 'competitions.current_competitions' | translate }}
         .panel-body
            .table-responsive
               tabset(type='pills')
                  tab(heading='{{ "matches.overall" | translate }}')
                     table(class='table')
                        thead
                           tr
                              th {{ 'competitions.competitions' | translate }}
                              th {{ 'matches.p' | translate }}
                              th {{ 'matches.w' | translate }}
                              th {{ 'matches.d' | translate }}
                              th {{ 'matches.l' | translate }}
                              th {{ 'matches.pts' | translate }}
                        tbody
                           tr(data-ng-repeat='competition in currentCompetitions')
                              td {{ competition.league.name }} {{ competition.season.name }}
                              td {{ competition.played || 0 }}
                              td {{ competition.won || 0 }}
                              td {{ competition.draw || 0 }}
                              td {{ competition.lost || 0 }}
                              td {{ competition.points || 0 }}
                  tab(heading='{{ "matches.home" | translate }}')
                     table(class='table')
                        thead
                           tr
                              th {{ 'competitions.competitions' | translate }}
                              th {{ 'matches.p' | translate }}
                              th {{ 'matches.w' | translate }}
                              th {{ 'matches.d' | translate }}
                              th {{ 'matches.l' | translate }}
                              th {{ 'matches.pts' | translate }}
                        tbody
                           tr(data-ng-repeat='competition in currentCompetitions')
                              td {{ competition.league.name }} {{ competition.season.name }}
                              td {{ competition.home_played || 0 }}
                              td {{ competition.home_won || 0 }}
                              td {{ competition.home_draw || 0 }}
                              td {{ competition.home_lost || 0 }}
                              td {{ competition.home_points || 0 }}
                  tab(heading='{{ "matches.away" | translate }}')
                     table(class='table')
                        thead
                           tr
                              th {{ 'competitions.competitions' | translate }}
                              th {{ 'matches.p' | translate }}
                              th {{ 'matches.w' | translate }}
                              th {{ 'matches.d' | translate }}
                              th {{ 'matches.l' | translate }}
                              th {{ 'matches.pts' | translate }}
                        tbody
                           tr(data-ng-repeat='competition in currentCompetitions')
                              td {{ competition.league.name }} {{ competition.season.name }}
                              td {{ competition.away_played || 0 }}
                              td {{ competition.away_won || 0 }}
                              td {{ competition.away_draw || 0 }}
                              td {{ competition.away_lost || 0 }}
                              td {{ competition.away_points || 0 }}
.row
   .col-lg-12
      div(class='panel panel-default')
         .panel-heading
            | {{ 'players.players' | translate }}
         .panel-body
               tabset(type='pills')
                  tab(heading='{{ "matches.overall" | translate }}')
                     .table-responsive
                        table(class='table')
                           thead
                              tr
                                 th {{ 'common.name' | translate }}
                                 th {{ 'players.nationality' | translate }}
                                 th {{ 'players.apps' | translate }}
                                 th {{ 'matches.goals' | translate }}
                                 th {{ 'common.rating' | translate }}
                           tbody
                              tr(data-ng-repeat='player in players')
                                 td
                                    a(data-ui-sref='app.player({id: player.id})') {{ player.full_name }}
                                 td {{ player.nationality.name }}
                                 td {{ player.appearances }}
                                 td {{ player.goals.goals__sum || 0 }}
                                 td {{ player.rating.rating__avg || 0 | number : 2 }}
                  tab(heading='{{ "matches.home" | translate }}')
                     .table-responsive
                        table(class='table')
                           thead
                              tr
                                 th {{ 'common.name' | translate }}
                                 th {{ 'players.nationality' | translate }}
                                 th {{ 'players.apps' | translate }}
                                 th {{ 'matches.goals' | translate }}
                                 th {{ 'common.rating' | translate }}
                           tbody
                              tr(data-ng-repeat='player in players')
                                 td
                                    a(data-ui-sref='app.player({id: player.id})') {{ player.full_name }}
                                 td {{ player.nationality.name }}
                                 td {{ player.home_appearances }}
                                 td {{ player.home_goals.goals__sum || 0 }}
                                 td {{ player.home_rating.rating__avg || 0 | number : 2 }}
                  tab(heading='{{ "matches.away" | translate }}')
                     .table-responsive
                        table(class='table')
                           thead
                              tr
                                 th {{ 'common.name' | translate }}
                                 th {{ 'players.nationality' | translate }}
                                 th {{ 'players.apps' | translate }}
                                 th {{ 'matches.goals' | translate }}
                                 th {{ 'common.rating' | translate }}
                           tbody
                              tr(data-ng-repeat='player in players')
                                 td
                                    a(data-ui-sref='app.player({id: player.id})') {{ player.full_name }}
                                 td {{ player.nationality.name }}
                                 td {{ player.away_appearances }}
                                 td {{ player.away_goals.goals__sum || 0 }}
                                 td {{ player.away_rating.rating__avg || 0 | number : 2 }}
.row
   .col-lg-12
      div(class='panel panel-default')
         .panel-heading
            | {{ 'matches.last_matches' | translate }}
         .panel-body
            tabset(type='pills')
               tab(heading='{{ "matches.overall" | translate }}')
                  .table-responsive
                     table(class='table')
                        thead
                           tr
                              th {{ 'competitions.competitions' | translate }}
                              th {{ 'common.date' | translate }}
                              th
                              th
                              th
                        tbody
                           tr(data-ng-repeat='match in last_matches.overall')
                              td {{ match.league_season.league.name }} {{ match.league_season.season.name }}
                              td {{ match.datetime | date : 'dd-MM-yyyy' }}
                              td(class='text-right')
                                 a(data-ui-sref='app.team({id: match.home_team.id})') {{ match.home_team.name }}
                              td(class='text-center')
                                 a(data-ui-sref='app.match({id: match.id})') {{ match.home_score }}:{{ match.away_score }}
                              td(class='text-left')
                                 a(data-ui-sref='app.team({id: match.away_team.id})') {{ match.away_team.name }}
               tab(heading='{{ "matches.home" | translate }}')
                  .table-responsive
                     table(class='table')
                        thead
                           tr
                              th {{ 'competitions.competitions' | translate }}
                              th {{ 'common.date' | translate }}
                              th
                              th
                              th
                        tbody
                           tr(data-ng-repeat='match in last_matches.home')
                              td {{ match.league_season.league.name }} {{ match.league_season.season.name }}
                              td {{ match.datetime | date : 'dd-MM-yyyy' }}
                              td(class='text-right')
                                 a(data-ui-sref='app.team({id: match.home_team.id})') {{ match.home_team.name }}
                              td(class='text-center')
                                 a(data-ui-sref='app.match({id: match.id})') {{ match.home_score }}:{{ match.away_score }}
                              td(class='text-left')
                                 a(data-ui-sref='app.team({id: match.away_team.id})') {{ match.away_team.name }}
               tab(heading='{{ "matches.away" | translate }}')
                  .table-responsive
                     table(class='table')
                        thead
                           tr
                              th {{ 'competitions.competitions' | translate }}
                              th {{ 'common.date' | translate }}
                              th
                              th
                              th
                        tbody
                           tr(data-ng-repeat='match in last_matches.away')
                              td {{ match.league_season.league.name }} {{ match.league_season.season.name }}
                              td {{ match.datetime | date : 'dd-MM-yyyy' }}
                              td(class='text-right')
                                 a(data-ui-sref='app.team({id: match.home_team.id})') {{ match.home_team.name }}
                              td(class='text-center')
                                 a(data-ui-sref='app.match({id: match.id})') {{ match.home_score }}:{{ match.away_score }}
                              td(class='text-left')
                                 a(data-ui-sref='app.team({id: match.away_team.id})') {{ match.away_team.name }}
