templates/views/teams.html
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">Teams</div>
         <div class="panel-body">
            <div class="table-responsive">
               <table show-filter="true" data-ng-table="tableParams" class="table table-striped table-bordered table-hover">
                  <tbody>
                     <tr data-ng-repeat="team in $data">
                        <td data-title="'Name'" filter="{'name': 'text' }" sortable="'name'"><a data-ui-sref="app.team({id: team.id})">{{ team.name }}</a>
                        </td>
                        <td data-title="'Country'" filter="{'country': 'text' }" sortable="'country'">{{ team.country.name }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

app/jade/views/teams.jade
.row
    .col-lg-12
        div(class='panel panel-default')
            .panel-heading Teams
            .panel-body
                .table-responsive
                    table(class='table table-striped table-bordered table-hover', show-filter="true", data-ng-table='tableParams')
                        tbody
                            tr(data-ng-repeat='team in $data')
                              td(data-title="'Name'", filter="{'name': 'text' }", sortable="'name'")
                                a(data-ui-sref="app.team({id: team.id})") {{ team.name }}
                              td(data-title="'Country'", filter="{'country': 'text' }", sortable="'country'") {{ team.country.name }}
