templates/views/partials/sidebar.html
<div role="navigation" data-ng-controller="SidebarController as sidebar" class="navbar-default sidebar">
   <div class="sidebar-nav navbar-collapse">
      <ul id="side-menu" metis-menu="metis-menu" class="nav">
         <li><a data-ui-sref="app.dashboard"><i class="fa fa-dashboard fa-fw"></i> {{ 'dashboard.dashboard' | translate }}</a>
         </li>
         <li><a data-ui-sref="app.classifiers"><i class="fa fa-share-alt fa-fw"></i> {{ 'classifiers.classifiers' | translate }}</a>
         </li>
         <li><a data-ui-sref="app.predictions"><i class="fa fa-bar-chart-o fa-fw"></i> {{ 'predictions.predictions' | translate }}</a>
         </li>
         <li><a href=""><i class="fa fa-bar-chart-o fa-fw"></i> {{ 'statistics.statistics' | translate }}<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
               <li><a data-ui-sref="app.teams">{{ 'teams.teams' | translate }}</a>
               </li>
               <li><a data-ui-sref="app.players">{{ 'players.players' | translate }}</a>
               </li>
            </ul>
         </li>
         <li><a href=""><i class="fa fa-trophy fa-fw"></i> {{ 'competitions.competitions' | translate }}<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
               <li data-ng-repeat="(key, value) in sidebar.leagues | groupBy: &quot;country.name&quot;"><a data-ui-sref="app.standings({country_id: value[0].country.id})">{{ key }}</a>
               </li>
            </ul>
         </li>
      </ul>
   </div>
</div>

app/jade/views/partials/sidebar.jade
div(class='navbar-default sidebar', role='navigation' data-ng-controller='SidebarController as sidebar')
    div(class='sidebar-nav navbar-collapse')
        ul(class='nav', id='side-menu', metis-menu)
            li
                a(data-ui-sref='app.dashboard')
                    i(class='fa fa-dashboard fa-fw')
                    |  {{ 'dashboard.dashboard' | translate }}
            li
                a(data-ui-sref='app.classifiers')
                    i(class='fa fa-share-alt fa-fw')
                    |  {{ 'classifiers.classifiers' | translate }}
            li
                a(data-ui-sref='app.predictions')
                    i(class='fa fa-bar-chart-o fa-fw')
                    |  {{ 'predictions.predictions' | translate }}
            li
                a(href='')
                    i(class='fa fa-bar-chart-o fa-fw')
                    |  {{ 'statistics.statistics' | translate }}
                    span(class='fa arrow')
                ul(class='nav nav-second-level')
                    li
                        a(data-ui-sref='app.teams') {{ 'teams.teams' | translate }}
                    li
                        a(data-ui-sref='app.players') {{ 'players.players' | translate }}
            li
                a(href='')
                    i(class='fa fa-trophy fa-fw')
                    |  {{ 'competitions.competitions' | translate }}
                    span(class='fa arrow')
                ul(class='nav nav-second-level')
                    li(data-ng-repeat='(key, value) in sidebar.leagues | groupBy: "country.name"')
                        a(data-ui-sref='app.standings({country_id: value[0].country.id})') {{ key }}
